* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF8F0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  background-color: #9B8674;
  padding: 0.5rem;
  border-radius: 12px;
}

.cell {
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
}

@media (min-width: 640px) {
  #grid {
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 24px;
  }

  .cell {
    border-radius: 12px;
  }
}

@media (min-width: 768px) {
  .cell {
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
  }
}